.gitconfig
.Xauthority
.bash_history
.cache/
.config/BraveSoftware
.config/composer/
.config/configstore/
.config/pulse/
.config/Atom
.atom
.config/dconf/
.fehbg
.mysql_history
.npm/
.nvm/
.pki/
.local/share/
documents/
